body{
   margin:0px;
   padding:0px;
}
#container{
   width:100%;
   border:solid thin-black;
   background-color:#D5D4EB;
   
   }
#header{
  hight:20px;
  width:100%;
  border:solid thin black;
  background-color:white;
 
 }
#signin{
    hight:50pxpx;
    widht:50%;  
    background-color:white;
    display:flex; 
    text-align:center;
    }
#learnmore{
      color:blue;
       display:flex;
       text-align:right;
       }
#dismiss{
     color:blue;
       text-align:right;
      display:flex;
    }